<header class="main-header">
  <nav>
    <ul class="flex-item nav-items">
      <li>
        <a href="#" class="logo-link">
          <img src="assets/images/blog logo.png" alt="blog logo">
          Clare's Blog
        </a>
      <li>
        <span id = "search-box" class="flex-item">
          <img src="/assets/icons/search icon.png" alt="search icon">
          <input type="search" name="search" id="search" placeholder="Search Clare's Blog">
        </span>
      </li>
      <li>
        <form action="/submit" method="post">
          <span id="form-buttons">
            <button type="submit">Sign in</button>
            <button type="submit">Create Account</button>
          </span>
        </form>
      </li>
    </ul>
  </nav>
</header>
