<div class="img-container">
      <div class="hamburger" style="display: none;">
            <button>
                  <img src="assets/icons/hambuger.png" alt="hamburger icon">
            </button>
      </div>
      <div class="top-sidebar">
          <img src="/assets/images/blog logo.png" alt="blog logo">
      </div>
      <div class="main-sidebar">
            <ul>
                  <li class="icon">
                  <button>
                        <img src="assets/icons/home.png" alt="home icon">
                  </button>
                  <p>Home</p>
            </li>
            <li class="icon">
                  <button>
                        <img src="assets/icons/message.png" alt="reminder icon">
                  </button>
                  <p>Get reminder</p>
            </li>
            <li class="icon">
                  <button>
                        <img src="assets/icons/notification.png" alt="notification icon">
                  </button>
                  <p>Activity</p>
            </li>
            <li class="icon">
                  <button>
                        <img src="assets/icons/search icon.png" alt="search icon">
                  </button>
                  <p>Search</p>
            </li>
            </ul>
            <div class="add-btn">
                  <button>
                        <img src="assets/icons/add.png" alt="">
                  </button>
            </div>  
      </div>
</div>