<nav>
  <div class="hamburger" style="display: none">
    <button>
      <img src="assets/icons/hambuger.png" alt="hamburger icon" />
    </button>
  </div>
  <div class="main-sidebar">
    <ul>
      <li class="icon">
        <a href="#" class="flex-center">
          <img src="assets/icons/home.png" alt="home icon" />
          Home
        </a>
      </li>
      <li class="icon">
        <a href="#" class="flex-center">
          <img src="assets/icons/message.png" alt="reminder icon" />
          Get reminder
        </a>
      </li>
      <li class="icon">
        <a href="#" class="flex-center">
          <img src="assets/icons/notification.png" alt="notification icon" />
          Activity
        </a>
      </li>
      <li class="icon">
        <a href="#" class="flex-center">
          <img src="assets/icons/search icon.png" alt="search icon" />
          Search
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-sidebar">
    <button class="add-btn flex">
      <img src="assets/icons/add.png" alt="add icon" />
      Create
    </button>
  </div>
</nav>
