
/* main {
  position: absolute;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

ul, #form-buttons {
    gap: 7rem;
}

ul li {
    list-style-type: none;
}


.flex-item { display: flex;}

footer {
  justify-content: space-between;
}

.left-footer {justify-self: self-start;}


img {
  width: 50px; 
  height: 50px;
}

img[alt='search icon'] {
  width: 1.2rem; 
  height: 1.2rem; 
}

aside {
  background-color: yellow;
}