
* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}


ul li {
    list-style-type: none;
}


.flex-item { display: flex;}

a {
  text-decoration: none;
}

a.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
}

 .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; 
}

#form-buttons {
  display: flex;
  gap: 10px;
}

#form-buttons button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

#search-box {
  display: flex;
  align-items: center;
}

input[type="search"] {
  padding: 5px;
  border-radius: 5px;
}

footer {
  justify-content: space-between;
}

.left-footer {justify-self: self-start;}

button {
  cursor: pointer;
}

img {
  width: 50px; 
  height: 50px;
}

img[alt='search icon'] {
  width: 1.2rem; 
  height: 1.2rem; 
}

aside {
  background-color: yellow;
  padding: 1rem;
}

.main-sidebar {
  margin-bottom: 2rem;
}

.icon {
  padding-bottom: 1.5rem;
}

.add-btn {
  padding: 5px;
  width: 100px;
  border-radius: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.icon img, 
.add-btn img {
  height: 25px;
  width: 25px;
}

main {background-color: blue;}