
.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

ul, #form-buttons {
    gap: 7rem;
}

ul li {
    list-style-type: none;
}


.flex-item { display: flex;}

a.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; 
}

 .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#form-buttons {
  display: flex;
  gap: 10px;
}

#form-buttons button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

#search-box {
  display: flex;
  align-items: center;
}

input[type="search"] {
  padding: 5px;
  border-radius: 5px;
}


footer {
  justify-content: space-between;
}

.left-footer {justify-self: self-start;}


img {
  width: 50px; 
  height: 50px;
}

img[alt='search icon'] {
  width: 1.2rem; 
  height: 1.2rem; 
}

aside {
  background-color: yellow;
}

main {background-color: blue;}